<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="shared.css" rel="stylesheet"/>
        <style>
            img {
                border-radius: 21px;
                box-shadow: 0px 16px 45px 5px rgba(0, 0, 0, 0.3);
                transform: rotate(-6deg);
                position: fixed;
                bottom: 5%;
                max-height: 35%;
            }
        </style>
    </head>
    <body>
        <div class="title" style="margin-top: 32px; font-size: 12vw; text-align: left;">{{{title}}}</div>
        <img src="{{image1}}" style="left: 10%;">
        <img src="{{image2}}" style="transform: rotate(3deg); float: right; right: 10%; max-height: 25%;">
    </body>
</html>
