<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="shared.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="title">{{title}}</div>
        <div class="device">
            <img src="1.png" class="background-image">
            <div class="text" style="top: 47%; left: 10%; font-size: 32px; width: 80%; text-align: center; font-weight: 700;">{{cardTitle}}</div>
        </div>
    </body>
</html>
