name: Check Android Fastlane Metadata
on:
  push:
    branches:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
      
jobs:
  marketing:
    runs-on: ubuntu-latest
    steps:
    # required to run on Linux because this is a docker container action
     - name: Checkout
       uses: actions/checkout@v5.0.0
     - name: Validate Android metadata
       uses: ashutoshgngwr/validate-fastlane-supply-metadata@v2
       with:
         fastlaneDir: ./fastlane/android/metadata # optional. default is './fastlane'.
         #enable check to validate if a locale is supported by the Play Store Listing.
         # Set to false to avoid errors for the 100+ locales not recognized by Google Play
         usePlayStoreLocales: false # optional. default is false.
