name: Add issues to the relevant GitHub projects
permissions:
  issues: write
  repository-projects: write

on:
  issues:
    types:
      - opened
      - edited
      - deleted
      - transferred
      - pinned
      - unpinned
      - closed
      - reopened
      - assigned
      - unassigned
      - labeled
      - unlabeled
      - locked
      - unlocked
      - milestoned
      - demilestoned
jobs:
  add-to-project:
    name: Add issues to the relevant GitHub projects
    runs-on: ubuntu-slim
    if: github.event.pull_request.head.repo.full_name == github.repository
    steps:
      - uses: actions/add-to-project@main
        with:
          project-url: https://github.com/orgs/openfoodfacts/projects/7
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
