name: Screenshot generation
on:
  push:
    branches: [ 'impossiblematch' ]
  pull_request:
    branches: [ 'impossiblematch' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.1
    - uses: actions/setup-node@v6
      with:
        node-version: '12'
    - run: pwd && cd ./screenshot-wrapping/ && pwd && npm ci && node index.js
    - name: Upload screenshots
      uses: actions/upload-artifact@v5
      with:
        name: screenshots
        path: ./screenshot-wrapping/output/
