name: Validate the Fastlane Metadata of Smoothie
on:
  push:
    branches:
      - main
      
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  validate:
    # required to run on Linux because this is a docker container action
    name: Validate the Fastlane Metadata of Smoothie
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v6.0.1
     - uses: ashutoshgngwr/validate-fastlane-supply-metadata@v2
       with:
        fastlaneDir: ./fastlane/android/metadata # optional. default is './fastlane/metadata/android'.
        # enable check to validate if a locale is supported by the Play Store Listing.
        # Set to false to avoid errors for the 100+ locales not recognized by Google Play
        usePlayStoreLocales: false # optional. default is false.
